extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		.worktitle: p(href='/blog/post/' + post.slug)= post.title
		.testographic!= post.content.brief

block content
	.container-fluid.row.margintopcontact
		.col-sm-3.col-sm-offset-3
			img(src='../images/cv.jpg', class='fotopersonale')
		.col-sm-4
			.contattititle
				|contattami
			.contatti
				|Emanuele Frascà
				br
				|mail 
				span.contattigreen • 
				a.mailcolor(href="mailto:info@emanuelefrasca.it")|info@emanuelefrasca.com
				br
				|phone 
				span.contattigreen • 
				|+39 3924607763
				br
				|skype 
				span.contattigreen • 
				|frasca_emanuele

	.container-fluid
		.row
			.col-sm-12.nopadding
				.cv
					|curriculum vitae
				.testographic.paddinginverso
					|Con la laurea in Disegno Industriale sostenuta presso l'Università degli Studi di Roma "La Sapienza" ho sviluppato elevate competenze in ambito progettuale ed informatico. La grafica, l'interaction design, la fotografia, il web e le nuove tecnologie sono stati i campi in cui mi sono specializzato maggiormente durante tutti gli anni di corso e successivamente.
					|I lavori svolti in questi ambiti mi hanno spesso messo in condizioni limite dalle quali sono sempre riuscito ad uscire in maniera vincente. La progettualità è fondamentale in quanto senza di essa non si ha una linea guida da poter percorrere, valicare, modificare o stravolgere completamente. Ho anche ottime competenze nella post produzione delle immagini sia per la stampa che per il web, color correction, fotomontaggi, impaginazione testuale tipografica e digitale.
					|Uso abitualmente e conosco approfonditamente tutto il pacchedo Adobe Creative Cloud (Photoshop, Illustrator, InDesgn, Bridge, Audition, Premiere, Lightroom). Ovviamente ho piena pradonanza del pacchetto Microsoft Office e dei sistemi operativi Windows e Osx. Studio costantemente e approfondisco giornalmente l'Html5 e CSS3. 
		.row
			.col-sm-8.col-sm-offset-2
				if filters.category && !data.category
					h3.text-muted Invalid Category.
				else
					if data.posts.results.length
						if data.posts.totalPages > 1
						.blog
							each post in data.posts.results
								+post(post)
						
						if data.posts.totalPages > 1
							ul.pagination
								if data.posts.previous
									li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
								else
									li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
								each p, i in data.posts.pages
									li(class=data.posts.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
								if data.posts.next
									li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
								else
									li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
					else
						if data.category
							h3.text-muted There are no posts in the category #{data.category.name}.
						else
							h3.text-muted There are no posts yet.
			
			



block js
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-15783493-3', 'auto');
		ga('send', 'pageview');











		